# STRING

ANYTHING IN BETWEEN SINGLE AND DOUBLE QUOTES IS CALLED AS STRING 
WHENEVER WE USE SINGLE QUOTES IS ALSO TERMED AS CHAR MEANS IT IS USED WITH SINGLE CHARACTER

In [1]:
a='A' # single char

In [2]:
str1 = "Aman jha"
str1

'Aman jha'

priority of both single quotes and double quotes are same

In [4]:
# multiline string 
a='''hello my name 
is aman jha'''
print(a)

hello my name
is aman jha

### indexing

In [9]:
a="Hello world"
print(a[0]) # positive indexing
print(a[-1]) # negative indexing
# note  - you can only retrieve one value at a time using indexing 
# the size of a is 11
len(a) 
# len() is a inbuilt function used to find out the length of the variable 
# len() is only used with the sequence datatype 
# sequence -  list string and tuple

H
d

11

# slicing

In [10]:
a= "hello world"
a[0:]

'hello world'

In [11]:
a= "hello world"
a[::-1]
# reverse trick for any sequence

'dlrow olleh'

In [12]:
a= "hello world"
a[0:11:2]

'hlowrd'

In [15]:
a= "hello world"
a[100]
# you can not go out of length in indexing

IndexError: string index out of range

In [14]:
a= "hello world"
a[:100] # we can go out of the length

'hello world'

In [16]:
a= "hello world"
a[100:100]

''

In [17]:
a= "hello world"
a[1:1]

''

in both line 16 & 17 starting and ending point is same

note - string is immutable

In [18]:
a="aman"+"jha"
# concatenation 
a

'amanjha'

In [19]:
a="aman"
a[0]="A"
print(a)
# we can not change the value at any index in string after declaring it

TypeError: 'str' object does not support item assignment

In [21]:
# repetion 
a="Aman"*2
print(a)

AmanAman

In [23]:
# deleting 
a="delete"
del a
# by using del keyword u can delete a string
print(a)

NameError: name 'a' is not defined

In [24]:
# updating a string 
a="aman"
print(a+a[0])

amana

In [28]:
a= "hello world"
b=[10,20]
print(a+b[0])

TypeError: can only concatenate str (not "int") to str

# SOME COMMON FUNCTIONS

In [29]:
# UPPER
a= "hello world"
print(a.upper())

HELLO WORLD

In [30]:
# lower
a="HELLO WORLD"
a.lower()

'hello world'

In [31]:
# strip
a= "    hello world   "
print(a.strip())

hello world

In [32]:
# replace
a= "hello world"
a.replace("hello","pagal")

'pagal world'

FORMATTING

In [36]:
a="aman"
b="sant nagar"
print(f"My name is {a} and i live in {b}")

My name is aman and i live in sant nagar

# IN OPERATOR

In [40]:
a="aman jha"
"b" in a
"a" in a
# in is known as membership operator

True

# IS operator

is only checks the address not the value but in string and in integer its exception

In [41]:
a="a"
b="a"
a is b

True

In [42]:
a=10
b=10
a is b

True

In [43]:
a=10.0
b=10.0
a is b

False

In [44]:
a=[10]
b=[10]
a is b

False

In [45]:
a=10,
b=10,
a is b

False

In [46]:
a={1:1}
b={1:1}
a is b

False

# ESCAPE CHARACTERS IN STRING

In [50]:
print("hello"+"\""+"world")

hello"world

In [49]:
print("hello"world")

SyntaxError: unterminated string literal (detected at line 1) (1029235617.py, line 1)

In [51]:
print("hello\n aman jha")
# \n newline escape sequence

hello
 aman jha

In [52]:
txt = "Hello\rWorld!"
print(txt)

World!

In [54]:
txt = "\101"
print(txt)

A

In [55]:
a= "hello world"
a.split()

['hello', 'world']

In [56]:
a= "hello world"
a.islower()

True

In [57]:
a= "hello world"
a.isupper()

False

isalnum(),isspace(),isdigit()

# q1 check whether the given string is palindrome or not

nitin = nitin (after reversing same string)

In [58]:
string = input("Enter a string: ")
string = string.lower().replace(" ", "")
start, end = 0, len(string) - 1

palindrome = True
while start < end:
    if string[start] != string[end]:
        is_palindrome = False
        break
    start += 1
    end -= 1

if palindrome:
    print(f'"{string}" is a palindrome.')
else:
    print(f'"{string}" is not a palindrome.')

Enter a string: nitin
"nitin" is a palindrome.

# Q1: Accept a string and display in reverse order.
    str1 = input("Enter any string: ")
    print(str1[::-1])

# Q2: Write a program to accept a string and display it 20 times.
    str2 = input("Enter any string: ")
    for i in range(20):
        print(str2)

# Q3: Write a program to accept a string in Python and display the entire string in upper case.
    str3 = input("Enter any string: ")
    print(str3.upper())

# Q4: Write a program to accept a string and display the last three characters of the string.
    str4 = input("Enter any string: ")
    print(str4[-3:])

# Q5: Write a program to accept a string in Python and display the entire string in lower case.
    str5 = input("Enter any string: ")
    print(str5.lower())

# Q6: Accept a string and display the entire string with the first and last characters in upper case.
    str6 = input("Enter any string: ")
    print(str6[0].upper() + str6[1:-1] + str6[-1].upper())

# Q7: Write a program to accept a string and display the first three characters of the string.
    str7 = input("Enter any string: ")
    print(str7[:3])

# Q8: Write a function in Python which accepts a string as an argument and displays the total number of vowels.
    def count_vowels(s):
        vowels = "AEIOUaeiou"
        count = sum(1 for char in s if char in vowels)
        print(f"Total number of vowels are: {count}")

    str8 = input("Enter any string: ")
    count_vowels(str8)

# Q9: Write a function in Python which accepts a string as an argument and displays the total number of lowercase characters.
    def lowercount(str):
    l = 0
    for i in range(len(str)):
        if str[i].islower():
            l += 1
    print(f"Total number of lowercase characters are: {l}")

# Example usage
    str9 = input("Enter any string: ")
    lowercount(str9)

# Q10: Write a function in Python which accepts a string as an argument and displays the total number of digits.
    def digitcount(str):
        d = 0
        for i in range(len(str)):
            if str[i].isdigit():
                d += 1
        print(f"Total number of digits are: {d}")

# Example usage
    str10 = input("Enter any string: ")
    digitcount(str10)

# LIST

# list is an ordered sequence of elements which is enclosed in the middle brackets '[]' 
- list is mutuable it means we can change the elements of the list at any index. 
- list can contain any elements rather it int , float , string , list , tuple etc .
- list are diffrent from the array because it can contain the duplicates value .
- list are ordered means u can access it elements in a sequence starting from 0 to n.

In [3]:
l=[10,20.0,50.5,"aman",[10,20],(),{1:1}]

In [4]:
# nested list - list inside the list 
nl = [[10,20],[30,40]]
nl

[[10, 20], [30, 40]]

In [5]:
a=list((10,20,30))
a
# list constructor

[10, 20, 30]

In [7]:
a=[1,2,3,4,5,6]
print(a+[7,8,9])
# concatenation

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a=[1,2,3,4,5,6]*2
a
# repetion

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [10]:
a=[1,2,3,4,5,6]
print(a[0])
print(a[-1])
print(a[1:6:2])

1
6
[2, 4, 6]

# functions of list

In [13]:
# append()

a=[1,2,3,4,5,6]
# adding a new element at the end of the list \
# we will pass the element as a parameter
a.append(10)
a.append(7)
a

[1, 2, 3, 4, 5, 6, 10, 7]

In [15]:
# extend()
a=[1,2,3,4,5,6]
a.extend([10,15,40])
print(a)

[1, 2, 3, 4, 5, 6, 10, 15, 40]

In [18]:
# insert()- adding an element at the specific index 
a=[1,2,3,4,5,6]
a.insert(3,7)
print(a)

# note - u will not remove the elemnent when u will use insert function

[1, 2, 3, 7, 4, 5, 6]

In [20]:
a=[1,2,3,4,5,6]
# del - delete the list "keyword"

del a
print(a)

NameError: name 'a' is not defined

In [24]:
a=[1,2,3,4,5,6]
# pop() - will give u the last element of the list .
a.pop()
len(a)
print(a.pop(2))

[1, 2, 3, 4, 5]
3

#### if you will not give the index as parameter it will delete the last element

In [27]:
a=[1,2,3,4,5,6]
a.remove(4)
a
# remove will take a element as a aragument

[1, 2, 3, 5, 6]

In [43]:
# copy() - it will create the shallow copy of the list
a=[1,2,3,4,5,6]
b=a.copy()
b.append(7)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [44]:
a=[1,2,3,4,5,6]
b=a # true copy 
b.append(7)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [47]:
# count() - gives the occurence of the given element as a argument
a=[1,2,3,4,5,6,6,2,5,4,3,5,2,5]
a.count(2)

3

In [49]:
# max() and min()
a=[1,2,3,4,5,6,6,2,5,4,3,5,2,5]
print(max(a))
print(min(a))

6
1

In [52]:
# index() - returns the index of the first occurence element given as a parameter
a=[1,2,3,4,5,6,6,2,5,4,3,5,2,5]
a.index(2)

1

In [67]:
# sort() - by default will sort the list in ascending order 
a=[1,2,3,4,5,6]
a.sort(reverse=True)
a

[6, 5, 4, 3, 2, 1]

# FOR LOOP USING LIST

In [29]:
a=[1,2,3,4,5,6]

for i in a:
    print(i)
    
# for loop by default will gives the output in vertical manner

1
2
3
4
5
6

### if you will do like this you will get the elements of the list

In [32]:
a=[1,2,3,4,5,6]

for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6

## but if u do like this u will get the indexes

In [33]:
a=[1,2,3,4,5,6]

for i in range(len(a)):
    print(i)

0
1
2
3
4
5

In [38]:
# end = " " - it will help to print the elements in horizontal manner 

a=[1,2,3,4,5,6]

for i in range(len(a)):
    print(a[i],end = " ")

1 2 3 4 5 6