In [1]:
import pandas as pd

In [2]:
people = {
    'first':['aman','aditya','kajal'],
    'last':['jha','kumar','jha'],
    'email':['amanj0349@gmail.com','aditya564@gmail.com','kjjha@gmail.com']
}

In [3]:
df= pd.DataFrame(people)

In [4]:
df

    first   last                email
0    aman    jha  amanj0349@gmail.com
1  aditya  kumar  aditya564@gmail.com
2   kajal    jha      kjjha@gmail.com

In [5]:
df['last'] == 'jha'

0     True
1    False
2     True
Name: last, dtype: bool

In [6]:
# creating a filter column 
filt = df['last']=='jha'

In [7]:
df[filt]

   first last                email
0   aman  jha  amanj0349@gmail.com
2  kajal  jha      kjjha@gmail.com

In [10]:
# we can also do it like by directly?
df[df['last']=='jha']

   first last                email
0   aman  jha  amanj0349@gmail.com
2  kajal  jha      kjjha@gmail.com

In [11]:
df

    first   last                email
0    aman    jha  amanj0349@gmail.com
1  aditya  kumar  aditya564@gmail.com
2   kajal    jha      kjjha@gmail.com

In [14]:
# using loc is good bcz we can get any value using it 
df.loc[filt , 'email']

0    amanj0349@gmail.com
2        kjjha@gmail.com
Name: email, dtype: object

In [35]:
df = pd.read_csv('survey_results_public.csv', index_col = 'ResponseId')
schema= pd.read_csv('survey_results_schema.csv' , index_col = 'qid')

In [26]:
pd.set_option('display.max_columns', 84)
pd.set_option('display.max_rows',84)

In [44]:
df['Country'].sample(5)

ResponseId
34588    United States of America
63332                     Ukraine
44871                     Ecuador
2959                       France
31893                     Germany
Name: Country, dtype: object

In [46]:
countries = ['United States of America','Ukraine','France','Germany']
filt = df['Country'].isin(countries)

In [47]:
df.loc[filt,'Country']

ResponseId
2        United States of America
3        United States of America
4        United States of America
7        United States of America
8        United States of America
                   ...
89157    United States of America
89169                      France
89171                      France
89176    United States of America
89179    United States of America
Name: Country, Length: 29781, dtype: object

In [53]:
# another filter using str 
filt = df['LanguageHaveWorkedWith'].str.contains('Python',na =False)
df.loc[filt,'LanguageHaveWorkedWith'].sample(5)

ResponseId
27391                  C#;JavaScript;Python;SQL;TypeScript
49296    Bash/Shell (all shells);Go;HTML/CSS;JavaScript...
69903                                Lua;Python;TypeScript
65684                                           Python;SQL
66844    Bash/Shell (all shells);C;C++;HTML/CSS;JavaScr...
Name: LanguageHaveWorkedWith, dtype: object

In [54]:
# basically filter will gives us boolean values and then by applying 
# conditions we can seprate the data and then using loc we can get the data 
# we want .