### TO USE SQL IN PYTHON U HAVE TO IMPORT mysql.connector

In [1]:
import mysql.connector as sql

In [2]:
# we have to build the connection 
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',auth_plugin='mysql_native_password')

In [3]:
# we have to create the cursor 

import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',auth_plugin='mysql_native_password')
cur = db.cursor()
print(cur)

MySQLCursor: (Nothing executed yet)

In [5]:
# creating the database in python

import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',auth_plugin='mysql_native_password')
cur = db.cursor()
cur.execute('create database mysql_connectivity')
# i have to commit the database
db.commit()
db.close()

### why do we use commit ?
- we use commit for permanent changes in the database

In [ ]:
# showing the database in python

import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',auth_plugin='mysql_native_password')
cur = db.cursor()
cur.execute('show databases')
data=cur.fetchall()
for i in data:
    print(i)
db.close()

In [ ]:
# creating the sql relation with the help of python 

import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query = '''create table student
        (name varchar(256) not null,
        roll_no int primary key,
        grade char not null)'''
cur.execute(query)
db.commit()
db.close()

In [ ]:
# inserting the data into the relation 

import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query = "insert into student values('aman',1,'A'),('richa',2,'B'),('pinkiya',3,'c')"
cur.execute(query)
db.commit()
db.close()

In [7]:
# showing all the data in python 
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query ='select * from student'
cur.execute(query)
data=cur.fetchall()
for i in data:
    print(i)
db.close()

('aman', 1, 'A', None)
('richa', 2, 'B', None)
('pinkiya', 3, 'c', None)

In [ ]:
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query ='select * from student'
cur.execute(query)
data=cur.fetchone()
for i in data:
    print(i , end = '\t')
db.close()

In [ ]:
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query ='select * from student'
cur.execute(query)
data=cur.fetchmany(2)
for i in data:
    print(i)
db.close()

## Add a new column marks to the relation ' student ' ?

In [ ]:
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query = "alter table student add column marks decimal(10,2)"
cur.execute(query)
db.commit()
db.close()

# write a python program to delete the record of student whose rollno is 2 from student structure are -
#### name rollno grade

In [10]:
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query = "delete from student where roll_no = 2"
cur.execute(query)
db.commit()
db.close()

In [6]:
# showing all the data in python 
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query ='desc student'
cur.execute(query)
data=cur.fetchall()
for i in data:
    print(i)
db.close()

('name', b'varchar(256)', 'NO', bytearray(b''), None, '')
('roll_no', b'int', 'NO', bytearray(b'PRI'), None, '')
('grade', b'char(1)', 'NO', bytearray(b''), None, '')
('marks', b'decimal(10,2)', 'YES', bytearray(b''), None, '')

In [11]:
# showing all the data in python 
import mysql.connector as sql
db = sql.connect(host='localhost',user='root',password='aman jha',database='sql_connectivity',auth_plugin='mysql_native_password')
cur = db.cursor()
query ='select * from student'
cur.execute(query)
data=cur.fetchall()
for i in data:
    print(i)
db.close()

('aman', 1, 'A', None)
('pinkiya', 3, 'c', None)