# STRING

In [1]:
a='aman jha'
b="bhavya"
c='''hello guys how 
are you'''
d = '\U0001f604'
char = 'A'
print(char)
print(a)
print(b)
print(c)
print(d)

A
aman jha
bhavya
hello guys how
are you
ðŸ˜„

# operators on string

In [2]:
# concatenation -  adding two similar type of data
first="aman"
last = "jha"

print(first+last) # there is no space between the strings

amanjha

In [3]:
# repition - multiplication of string with int 
name = "bhavya"
print(name * 4)

bhavyabhavyabhavyabhavya

# iteration in strings

In [4]:
a="aman jha"
for ind in a:
    print(ind)

a
m
a
n

j
h
a

In [5]:
# if i want to print it horizontal 
a="aman jha"
for ind in a:
    print(ind , end= "")

aman jha

In [6]:
a="aman jha"
for ind in range(len(a)): 
    print(ind)

0
1
2
3
4
5
6
7

In [7]:
a="aman jha"
for ind in range(len(a)): 
    print(a[ind],end="")

aman jha

# indexing & slicing

### two basic diff btw indexing and slicing 
1. you can not go out of range in indexing while in slicing you can go out of index
2. by indexing u can only print a character and by using slicing u can print any slice of your string

In [26]:
str = "Hello world"
print(str[0])
print(str[10])
print(str[-1])
print(str[-5])

H
d
d
w

In [28]:
str = "Hello world"
print(str[:])
print(str[::])
print(str[0:5])
print(str[1000:1000])
print(str[10:15])
print(str[9:18])
print(str[1:5:2])
print(str[::-1]) # reverse krne ke liye 
print(str[-4:-15:-2])

Hello world
Hello world
Hello

d
ld
el
dlrow olleH
o le

# functions

In [30]:
a="Aman jha"
print(type(a))
print(len(a))
print(id(a))
print(a)
print(list(a))
print(tuple(a))

<class 'str'>
8
2244006424432
Aman jha
['A', 'm', 'a', 'n', ' ', 'j', 'h', 'a']
('A', 'm', 'a', 'n', ' ', 'j', 'h', 'a')

# methods

1. lower()
2. upper()
3. islower()
4. isupper()
5. isdigit()
6. isalnum()
7. isaplha()
8. split()
9. replace()
10. capitalize()
11. title()

In [31]:
a="aman jha"
print(a.upper())

AMAN JHA

In [32]:
a="AMAN JHA"
print(a.lower())

aman jha

In [33]:
a="Aman jha"
print(a.isupper())

False

In [34]:
a="AMAN JHA"
print(a.isupper())

True

In [35]:
a="aman jha"
print(a.islower())

True

In [37]:
a="amanj039gmailcom"
print(a.isalnum())

True

In [40]:
# split - convert your string in the list .

a="hello chaman"
print(a.split())

['hello', 'chaman']

In [41]:
a="AMAN JHA"
print(a.capitalize())

Aman jha

In [42]:
a="aman jha"
print(a.title())

Aman Jha

In [43]:
a="mitin"
a.replace('m','n')

'nitin'

# formatting in string

In [44]:
# o/p - >   my sum of two no is 25
sum = 20+5
print("my sum of two no is",sum)

my sum of two no is 25

In [46]:
sum = 20+5
print(f"my sum of two no is {sum}")

my sum of two no is 25